<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Email" value="akitosun0614@gmail.com"/>
		<add key="Pw" value="90opKLM."/>
		<add key="gpsLocation" value="POINT (22.7242597 120.3517056)"/>
		<add key="gpsPlace" value="815台灣高雄市大社區大順街52巷2號"/>
	</appSettings>
</configuration>